@import "colors";

.navbar-custom {
  padding: 25px 0;

  .logo-tab{
      margin-bottom: 60px;
  }

  .navbar__logo {
    display: block;
    background-image: url("../images/logo-light.svg");
    background-repeat: no-repeat;
    width: 200px;
    height: 29px;
    
    @media (max-width: 390px) {
      width: 125px;
      background-size: contain;
      background-position: center;
    }
  }

  .navbar-nav-custom {
    .nav-link {
      opacity: 0.64;
    }
  }

  .nav-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $prussian-blue;
  }

  .dropdown-toggle.show {
    background: #F3F5F7;
    border-radius: 8px;
  }

  .dropdown-item {
    color: $prussian-blue;
    opacity: 0.64;

    &:focus, &:hover {
      background-color: #F3F5F7;
    }
  }

  .navbar-toggler {
    border: 0;

    &:focus {
      box-shadow: 0 0 0 0;
    }

    .navbar-toggler-icon {
      background-image: url("../images/burger-icon.svg");
      width: 20px;
    }
  }

  .nav-icons-mob {
    width: 100px;
  }

  .navbar-collapse {

    &__close {
      cursor: pointer;
    }

    .nav-item__avatar-info {
      @media (min-width: 993px) {
        display: none !important;
      }
    }

    &.show, &.collapsing {
      @media (max-width: 992px) {
        width: 100%;
        background-color: #00ACFF;
        position: absolute;
        top: 0;
        min-height: 100%;
        left: 0;
        padding: 40px;
        z-index: 1;

        .nav-link {
          padding: 16px 0;
          color: $white;
          opacity: 1;
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          border-bottom: 2px solid #ffffff20;
        }

        .dropdown-mob {

          .dropdown-item:focus, .dropdown-item:hover {
            background-color: #f3f5f700;
          }

          .nav-link.dropdown-toggle {
            display: none !important;
          }

          .dropdown-menu {
            display: block;
            background-color: #faebd700;
            border: 0;

            .dropdown-item {
              padding: 15px 0;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #FFFFFF;
              opacity: 1;
            }
          }
        }

        .right-menu-tab {
          .navbar-nav {
            width: fit-content;

            .nav-link.avatar {
              display: flex;
              border: 0;

              .nav-item__avatar-info {
                margin-left: 25px;

                &__money {
                  position: relative;
                  margin-left: 20px;

                  &::before {
                    position: absolute;
                    content: '';
                    background-image: url("../images/coin.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 20px;
                    height: 20px;
                    left: -30px;
                    transform: translateY(50%);
                    bottom: 50%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

body.dark {
  .navbar-custom .nav-link, .navbar-nav .nav-link.active, .navbar-custom .dropdown-item, .indicators, #textExample {
    color: $white;
  }

  .navbar-nav .nav-link.active {
    opacity: 1;
  }

  .dropdown-toggle.show, .navbar-custom .dropdown-item:focus, .navbar-custom .dropdown-item:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .dropdown-menu.show {
    background: $prussian-blue;
  }
  .navbar__logo {
    background-image: url("../images/logo-dark.svg");
  }
}

.right-menu {

  .navbar-nav {
    align-items: center;
    justify-content: space-between;
    width: 180px;
  }
}